{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-group py-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ user.fullName }}
                    <small class="text-muted">· @{{ user.username }}</small>
                </h5>
                {% if is_granted('ROLE_USER') and user != app.user %}
                    {% if user.followers.contains(app.user) == false %}
                        <a href="{{ path('follow', {'id':user.id }) }}" class="btn btn-primary">Follow</a>
                    {% else %}
                        <a href="{{ path('unfollow', {'id':user.id }) }}" class="btn btn-danger">Unfollow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-group py-2">
        <div class="card">
            <div class="card-body">
                <h5>Followers</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for follower in user.followers %}
                    <li class="list-group-item">
                        <a href="{{ path('users_posts',
                            {'username': follower.username}) }}">
                            @{{ follower.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Following</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for following in user.following %}
                    <li class="list-group-item">
                        <a href="{{ path('users_posts',
                            {'username': following.username}) }}">
                            @{{ following.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% for post in posts %}
        {{ include('micro_post/raw_post.html.twig', { 'post': post }) }}

        <small class="d-block text-right mt-3">
            {% if is_granted('EDIT', post) %}
                <a href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
            {% endif %}
            {% if is_granted('DELETE', post) %}
                <a href="{{ path('post_delete', {'id': post.id}) }}">Delete</a>
            {% endif %}
        </small>
    {% endfor %}
{% endblock %}